.contact-page {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #f8f8f8;
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
}

.contact-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    color: black;
    padding: 40px;
    width: 50%;
}

.info-box {
    text-align: center;
    margin-top: 20px;
}


.info-box a {
    text-decoration: none;
    color: black;
}

.icon {
    font-size: 32px;
    margin-bottom: 10px;

}

.info-box h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.info-box p {
    font-size: 14px;
    line-height: 1.6;
}

.contact-form-container {
    padding: 40px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-form-container h2 {
    font-size: 29px;
    text-decoration: underline;
    margin-bottom: 20px;
}

.contact-form-container form {
    display: flex;
    flex-direction: column;
}

.contact-form-container input,
.contact-form-container textarea {
    padding: 15px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.contact-form-container textarea {
    height: 100px;
    resize: none;
}

.contact-form-container button {
    background-color: #555;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.contact-form-container button:hover {
    background-color: #333;
}